.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.7rem 1.4rem;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  border: none;
  @include transition($transition-base);
  width: fit-content;
  margin: 0 auto;
  white-space: nowrap;

  @include respond-to('lg') {
    margin: 0;
    font-size: 1.25rem;
  }

  &--accent {
    background-color: $color-accent;
    color: $white;

    &:hover {
      background-color: darken($color-accent, 10%);
    }
  }

  &--rounded {
    border-radius: 5rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $white;
    font-size: 1rem;
  }
}